.city-blue-color {
  color: #39499c;
}

.city-green-color {
  color: #b1d63b;
}

.city-red-color {
  color: #9c3949;
}

.success-color {
  color: #00cc00;
}

.error-color {
  color: #c12e2a;
}

.background-color {
  color: #fdfdfd;
}

.border-color {
  color: #ccc;
}

.btn-success-color {
  background: #00cc00 !important;
  color: #fdfdfd !important;
}

.btn-error-color {
  background: #c12e2a !important;
  color: #fdfdfd !important;
}

.city-button-badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #28a745;
  margin-left: 8px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}